@font-face {
  font-family: 'Another Typewriter';
  src: url('/fonts/atwriter.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
  --light-yellow: #FFAD2B;
  --dark-yellow: #B56F00;
  --red: #F23030;
  --black: #151515;
}

body {
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 100%;
  color: white;
  background-color: var(--dark-yellow);
}

.header-links {
  display: none;
}

main {
  content: '';
  position: relative;
  left: 0;
  right: 0;
  height: 12rem;
  background-color: var(--light-yellow);
  border-radius: 0% 0% 80% 80%;
  color: white;
  font-family: 'Itim';
}

h2 {
  margin-top: 4rem;
  font-family: 'Itim';
  font-size: 30px;
  letter-spacing: 0.2rem;
}

.text-fun-fact {
  margin-top: 2rem;
  color: var(--black);
  font-size: 18px;
  border-radius: 1rem;
  box-shadow: 1px 1px 6px #C6C6C6;
  padding: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
  background-color: white;
  font-family: 'Another Typewriter';
  letter-spacing: 0.3rem;
}
  
  .btn-fun-fact {
    margin-top: 2rem;
    background-color: var(--red);
    color: white;
    font-family: 'Another Typewriter';
    border: none;
    border-radius: 20%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 3rem;
    height: 3rem;
    width: 8rem;
  }

  footer {
    background-color: var(--dark-yellow);
    height: 3rem;
    margin-top: auto;
  }