@font-face {
  font-family: 'Another Typewriter';
  src: url('/fonts/atwriter.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
  --light-yellow: #FFAD2B;
  --dark-yellow: #B56F00;
  --red: #F23030;
  --black: #151515;
}

body {
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content:space-between;
  height: 4rem;
  width: 100%;
  color: white;
  background-color: var(--dark-yellow);
}
.menu a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
  font-family: 'Itim'; 
  
}

.show-menu,
.hidden-menu {
  cursor: pointer;
  transition: 0.4s;
  font-size: 30px;
  display: none;
  text-transform: uppercase;
  color: white;
  margin: 0px 10px;
  
}

.show-menu {
  order: 1;
}

.menu a:hover,
.show-menu:hover,
.hidden-menu:hover {
  color: #FFffff;
}

#check{
  display: none;
}

.show-menu,
.hidden-menu {
  display: block;
}

.menu {
  position: fixed;
  width: 70%;
  height: 10vh;
  background:var(--light-yellow);
  right: -100%;
  top:0;
  text-align: center;
  padding: 100px 0px;
  z-index: 100;
  transition: 0.8s;
}

.menu a {
  display: block;
  padding: 20px;
  
}

.hidden-menu {
  position: absolute;
  top: 40px;
  right: 20px;
}

#check:checked ~ .menu{
  right: 0;
}

main {
  content: '';
  position: relative;
  left: 0;
  right: 0;
  height: 12rem;
  background-color: var(--light-yellow);
  border-radius: 0% 0% 80% 80%;
  color: white;
  font-family: 'Itim';
}

h2 {
  margin-top: 4rem;
  font-family: 'Itim';
  font-size: 30px;
  letter-spacing: 0.2rem;
}

#like-heart {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 35px;
  cursor: pointer;
  visibility: hidden;
}

#like-heart-full {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 35px;
  cursor: pointer;
  visibility: hidden;
}

.content {
  max-height: 500px;
  overflow-y: auto;
}

.text-fun-fact {
  margin-top: 2rem;
  color: var(--black);
  font-size: 18px;
  border-radius: 1rem;
  box-shadow: 1px 1px 6px #C6C6C6;
  padding: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
  background-color: white;
  font-family: 'Another Typewriter';
  letter-spacing: 0.3rem;
  position: relative;
}
  
.btn-fun-fact {
  margin-top: 2rem;
  background-color: var(--red);
  color: white;
  font-family: 'Another Typewriter';
  border: none;
  border-radius: 20%;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 3rem;
  height: 3rem;
  width: 8rem;
  }

  footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-yellow);
  height: 6rem;
  margin-top: auto;
  color:#FFffff;
  }

  @media (min-width: 900px) {
    
    .mostrar-menu,
    .hidden-menu {
      display: none;
    }
    
    .menu {
      position: static;
      width: auto;
      height: auto;
      background-color: transparent;
      padding: 20px;
      transition: none;
    }
    
    .menu a {
      display: inline-block;
      padding: 20px;
    }
  }